# Server
PORT=4300
NODE_ENV=test
ARTICLES_PAGE_SIZE=10

# DB
DB_USER=admin
DB_PASS=test
DB_HOST=qtim_test_postgres
DB_NAME=main
DB_PORT=5432

### JWT
JWT_SECRET=8i3rrh49r3g8fpjsmeg5p4e6ke

### Redis 
REDIS_HOST=localhost
REDIS_PORT=6379